
:root{
    --main-color:#d3ad7f;
    --black:#081210;
    --bg:#010101;
    --border:0.1rem solid rgb(255,255,255,.3);
}

*{
    font-family:'Roboto' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;


}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{ 
    background: transparent;
}

html::-webkit-scrollbar-thumb{ 
    background: #fff;
    border-radius: 5rem;
}
 
body{
    background: var(--bg);
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
 margin-top: 1rem;
 display: inline-block;
 padding: 0.9rem 3rem;
 font-size: 1.7rem;
 color: #fff;background-color: var(--main-color);
 cursor: pointer;
}
.btn:hover,.recipe button{
    letter-spacing: 0.2rem;
}

section{
    padding: 2rem 7%;
}

.header{
     background: var(--bg); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
 height: 6rem;
}

.header .navbar a{
      margin: 0 1rem;
      font-size: 2.1rem;
      color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom :0.1rem solid var(--main-color);
    padding-bottom: 0.5rem; 
}
 

.header .icon div{
     color: #fff;
     cursor: pointer;
     font-size: 2.5rem;
     margin-left: 2rem;
}

.icon div:hover{
    color: var(--main-color);
}

#bars-btn{
    display: none;
}
.header .search-form{
   position: absolute;
   top: 115%;
   right: 7%;
   background: #fff;
   width: 50rem;
   height: 5rem;
   display: flex;
   align-items: center;
   transform: scaleY(0);
   transform-origin:top ;
   border-radius: 10px;
}
.header .search-form.active{
    
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
    border-radius: 10px;
}

.header .search-form label{
    cursor: pointer;
    font-size: 3.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-item-cont{
    position: absolute;
    top: 100%;
    right:-100%;
    height: calc(100vh - 9.5rem);
    width: 40rem;
    background-color: #fff;
    padding: 0 1.5rem;

}
.header .cart-item-cont.active{
    right: 0;
}
.cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);

}
.fa-times:hover{
    color: var( --main-color);
}
.header .cart-item-cont.cart-item.content img{
     height: 7rem;
}
.content h3{
    font-size: 2rem;
    color: #fff;
    padding: .5rem;
}
.content .price{
    font-size: 1.5rem;
    color: var(--main-color);
     
}
.btn{
    width: 100%;
     text-align: center;
     border-radius: 50px;
}
 
.Btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;background-color: var(--main-color);
    cursor: pointer;
     width: 25rem;
     text-align: center;
     border-radius: 50px;
   }
   .Btn:hover , .recipe button{
       letter-spacing: 0.2rem;

   }


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home2.jpg)no-repeat;
    background-size: cover;
}
 .home .content{
    max-width: 60rem;
 }

 .home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
 }

 .home .content p{
    font-size: 2rem;
     font-weight: lighter;
     line-height: 1.8;
     padding: 1rem 0;
    color: #eee;
 }
 
 /*About container start */

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
 .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;  
}
.row .image{
    flex: 1 1 45rem;
}
.image img{
 width: 100%;
}

.content{
    flex: 1 1 45rem;
    padding: 2rem;
    color: #fff;
}
.content h3{
    font-size: 2rem;
    color: #fff;
}

.content p{
    font-size:1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, Minmax(30rem , 1fr));
    gap: 1.5rem;
}

.box1{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.box1 img{
    height: 10rem;
}

.box1 .price{
    color: #fff;
    font-size:2.5rem;
    padding: 0.5rem 0;
}
.box1 .price span{
    color: #fff;
    font-size:1.5rem;
    text-decoration: line-through;
}
.box1:hover{
    background: #fff;
}
.box1:hover > *{
    color:var(--black) ;
}

/*                         product                         */

.product .box-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, Minmax(30rem , 1fr));
    gap: 1.5rem;

}
.product .box-container .box{
    text-align: center;
    border: var(--border);
    padding:2rem;
}
.product .box-container .box .icon{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}
.product .box-container .box .icon a:hover{
    background: var(--main-color);
}
.product .box-container .box .image{
    padding: 2.5rem 0;
}

.box-container .box .image img{
    height: 30rem;
}

.box-container .box  .content{
    color: #fff;
    font-size: 2.5rem;
}
.box-container .box  .content .stars{
    padding: 1.5rem;
}
.box-container .box  .content .stars i{
     font-size: 1.7rem;
     color: var(--main-color);
}
.box-container .box  .content .price{
    color: #fff;
    font-size: 2.5rem;
}
.box-container .box  .content .price span{
     text-decoration: line-through;
    font-weight:lighter;
    font-size: 1.5rem;
}
/*                                  Review                               */


.review .box-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, Minmax(30rem , 1fr));
    gap: 1.5rem;

}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #FFF;
    padding: 2rem 0;
}
#quots{
    font-size: 10rem;
    color:var(--main-color);
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

/*                       contact                 */

.contact .row{
    display: flex;
    background: var(--black);
    gap: 1rem;
    flex-wrap: wrap;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    height: 60rem;
    object-fit: cover;
    margin: 12px 12px 12px;

}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/* blogs */

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, Minmax(30rem , 1fr));
    gap: 1.5rem;
}
.blogs .box-container .box{
    border: var(--border);
}
.blogs .box-container .box .image{
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.blogs .box-container .box .image img{
  height:100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img{
   transform: scale(1.3);
}

.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}
.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/* footer */

.footer{
    background: var(--black);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: .3rem;
  border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
    border-radius: 50px;
}
.footer .links a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: var(--main-color);
}

/* fetch APi style sheet */


 #recipe-container{
    font-size: 10px;
    font-weight: lighter;
    color: #fff;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(auto-fit, Minmax(300px , 1fr));
   grid-gap: 31px;
   width: 103%;
   margin: 10px auto;
   padding: 20px;
   place-items: center;
}

.recipe{
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius:6px;
    box-shadow: 0 5px 10px rgba(75, 73, 73 , 0.1),-5px -5px 10px  rgba(38,43 ,33,0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.2s ease-in-out;
    
}
.recipe:hover{
 transform: scale(1.03);
}
.recipe img{
    height: 300px;
}

 

.recipe h3{
    font-size: 24px;
    margin-block: 5px;
}
#recipe-container h1{
    font-size: 25px;
    font-weight: 700;
}
.recipe p{
    font-size: 20px;
    color: var(--main-color);
    padding: 5px 0;
}
.recipe span{
  font-weight: 700;    
}
.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    background-color: red;
    color: #fff;
}
 
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgb(162, 60, 77);
    border-radius: 12px;
    width:40%;
    height:60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

#recipe-details-content{
    padding: 30px;
}

.recipename,
.ingredientList,
.recipeInstructions{
    margin-bottom: 20px;
}



.recipename{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
     
}
.ingredientList li{
    margin-top: 10px;
    margin-left: 20px;
}
.recipeInstructions p{
    line-height: 30px;
    white-space: pre-line;
}
#recipe-close-btn{
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* adding scroll bar  */
 
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background:var(--main-color);
    border-radius: 16px;
    --webit-border-radius:16px;

}






















@media(max-width:991px){
    html{
        font-size: 55%;
    }
   .header{
    padding: 1.5rem 2rem;
   }
   section{
    padding: 2rem ;
   }
}
@media(max-width:768px){
    #bars-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height:calc(100vh - 8.5rem);
    }
    .header .navbar.active{
      right: 0;

    }
    .header .navbar a{
        color: var(--black);
        display: block;
        /* margin:0.5rem; */
        padding: 3rem;
        font-size: 3rem;
        text-align: center;
    }

    .header .navbar a:hover{
        color: var(--main-color); 
    }

    .header .search-form{
        width: 90%;
        height: 4rem;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        align-items: center;
    }
    .home .content h3{
        font-size: 4.5rem;

    }
    .home .content p{
        font-size: 1.5rem;

    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}